@main-color: #101620;
@menu-color-bg:#f4851c;
@color-white:#fff;

body{
  background:@main-color;
}

nav .main_menu li{
  background:@menu-color-bg;
  float: right;
  padding: 0.5em 2em;
  color: @color-white;
}
.main_menu{
  list-style:none;
}
#main{
  float: right;
}
.scroll{
  display:none;
}
